<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-5 px-sm-0 mx-auto">
      <h2>User info</h2>
      <%= form_with model: @user, local:true do |f| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= @user.errors.count %> errors prohibited this obj from being saved
            </h2>
            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <div class="form-group">
        <label for="user_name">Name
          </br><%= f.text_field :name, class: "form-control" %>
        </label>
      </div>
      <div class="form-group">
        <label for="user_image">Image
          </br><%= f.file_field :profile_image %>
        </label>
      </div>
      <div class="form-group">
        <label for="user_introdction">Introduction
          </br><%= f.text_field :introduction, class: "form-control introduction" %>
        </label>
      </div>
      <div class="form-group">
        <%= f.submit "Update User", class: "btn btn-secondary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>





