<!-- ユーザーの詳細 -->
<div>
  <h3><%= @user.name %></h3>

</div>

<tbody>
  <% @books.each do |book| %>
    <tr>
      <td>投稿ユーザー画像:<%= image_tag book.user.get_profile_image("100x100") %></tb>
      <td>
        <%= link_to book_path(book.id) do %>
          <%= book.title %>
        <% end %>
      </td>
      <td><%= book.body %></td>
    </tr>
  <% end %>
</tbody>
<p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>