<div class="container">
  <% if @books.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= @books.errors.count %> errors prohibited this book from being saved
    </h2>
    <ul>
      <% @books.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
  <div class="row">
    <div class="col-md-3">
    <%= render 'list', book:@books, user:@book.user %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
          <tbody>
              <tr>
                  <td>
                    <%= image_tag @book.user.get_profile_image("40x40") %>
                    </br><%= link_to user_path(@book.user.id) do %>
                          <%= @book.user.name %>
                        <% end %>
                  </td>
                  <td>
                      <%= link_to book_path(@book) do %>
                       <%= @book.title %>
                      <% end %>
                  </td>
                  <td>
                    <%= @book.body %>
                  </td>
                  <% if @book.user == current_user %>
                  <td><%= link_to "Edit", edit_book_path(@book), class: "btn btn-sm btn-success" %></td>
                  <td><%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-sm btn-danger" %></td>
                  <% end %>
              </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>